shared_buffers = 15GB
work_mem = 1GB
maintenance_work_mem = 8GB
effective_cache_size = 20GB

min_wal_size = 1GB
max_wal_size = 2GB
max_connections = 250
temp_buffers = 32MB
wal_level = logical
synchronous_commit = off
wal_buffers = 1024kB
wal_writer_delay = 500ms
commit_delay = 10000
# checkpoint_segments = 60 # unrecognized in psql 10.7.1
random_page_cost = 1.1
track_activity_query_size = 16384
autovacuum_vacuum_scale_factor = 0.05
autovacuum_analyze_scale_factor = 0.02
checkpoint_timeout = 15min 
default_statistics_target = 1000
effective_io_concurrency = 20
fsync=off
max_worker_processes=32
max_parallel_workers=16
max_parallel_workers_per_gather=4

listen_addresses = '*'
